@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ivozfd');
  src:  url('fonts/icomoon.eot?ivozfd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ivozfd') format('truetype'),
    url('fonts/icomoon.woff?ivozfd') format('woff'),
    url('fonts/icomoon.svg?ivozfd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ps-next:before {
  content: "\e907";
}
.icon-ps-prev:before {
  content: "\e908";
}
.icon-ps-arrow:before {
  content: "\e906";
}
.icon-ps-marketing:before {
  content: "\e903";
}
.icon-ps-ui:before {
  content: "\e904";
}
.icon-ps-web:before {
  content: "\e905";
}
.icon-upload:before {
  content: "\e902";
}
.icon-checked:before {
  content: "\e901";
}
.icon-ps-call:before {
  content: "\e900";
}
